html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    background-color: #F5F5F5;
    

}
.container {
    max-height: 620px;
    display: grid;
    grid-gap: 20px;
    grid:
    "card-7 card-1 card-1 card-4"
    "card-7 card-2 card-3 card-4" 
    "card-8 card-2 card-3 card-4" 
    "card-8 card-2 card-3 card-4" 
    "card-8 card-6 card-5 card-5" 
    / 200px 200px 200px 200px;
    grid-template-rows: repeat(5,1fr);


}

.card {
    border-radius: 10px;
}

.card-1{
    grid-area: card-1;
    background-color: var(--third-3);
    color: var(--third-1);
    padding: 0 1.3rem;
    max-height: 250px;
}

.card-1 h2 {
    padding-top: 3.5rem ;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 5rem;
}

.card-1 h2 span{
    color: var(--second-500);
}

.card-1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    max-width: 150px;
}

.card-1 p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 5rem;
}

.card-2{
    grid-area: card-2;
    background-color: var(--third-1);
    overflow: hidden;
    padding-left: 2rem ;
    padding-top: 1.5rem;
    padding-bottom: 1rem;


}

.card-2 img{
    max-height: 4.5rem;
    margin-bottom: 1rem;
}

.card-2 h2{
    font-size: 2rem;
    line-height: 1.7rem;
    padding-right: 2.5rem;
}

.card-3{
    grid-area: card-3;
    background-color: var(--second-500);
    overflow: hidden;
    padding-left: 2rem ;
    padding-top: 1.5rem;

}

.card-3 h2{
    font-size: 2rem;
    line-height: 1.7rem;
    padding-right: 2.5rem;
    margin: 1rem 0;
}

.card-3 img {
    max-height: 12rem;
}

.card-4{
    grid-area: card-4;
    background-color: var(--primary-100);
    overflow: hidden;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    padding-top: 3.5rem;
}

.card-4 h2{
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.card-4 img{
    max-height: 20.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-4 p {
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.card-5{
    max-height: 200px;
    grid-area: card-5;
    background-color: var(--primary-500);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
    
}
.card-5 img{
    max-height: 140px; 
}

.card-5 h2{
    font-size: 3rem;
    line-height: 2.5rem;
    color: var(--third-1);
}

.card-6{
    max-height: 200px;
    grid-area: card-6;
    background-color: var(--third-1);
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.card-6 h2{
    font-size: 4rem;
}

.card-6 p{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}
.card-6 img{
    max-width: 12rem;
}

.card-7{
    grid-area: card-7;
    background-color: var(--second-100);
    padding: 4rem 2.5rem 0 2.5rem;
    /* max-height: 320px; */
}

.card-7 h2{
    font-size: 3rem;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
}

.card-7 h2 span{
    color: var(--primary-500);
}
.card-7 img{
    height: 7.5rem;
}

.card-8{
    grid-area: card-8;
    background-color: var(--second-500);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
}

.card-8 h2{
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding-right: 2.5rem;
    margin-bottom: 5rem;
}

.card-8 img{
    max-height: 15rem;
    max-width: 16.5rem;
    padding-bottom: 1.3rem;
}

