:root {
    --primary-100: hsl(254, 88%, 90%);
    --primary-500: hsl(256, 67%, 59%);

    --second-100: hsl(31, 66%, 93%);
    --second-500: hsl(39, 100%, 71%);

    --third-1: hsl(0, 0%, 100%);
    --third-2: hsl(0, 0%, 7%);
    --third-3: hsl(228, 45%, 44%);

}